.bar-header {
  margin-top: 20px;
  border: 1px solid #ededed;
  margin-left: 0px;
  margin-right: 0px;
  padding: 5px; }

.color-cell {
  width: 100px;
  word-break: break-all; }

.oe_product_cell:focus {
  background-color: #ededed; }

.product_id_field {
  display: inline-block; }
  .product_id_field .o_external_button {
    display: none !important; }

.oe_models_add_row {
  display: inline-block; }
  .oe_models_add_row button {
    margin-top: 0; }

.model_total_container table {
  float: right;
  width: 80%; }
.model_total_container .row_delete {
  padding-top: 5px;
  padding-left: 10px;
  float: left; }

.oe_models_quick_create {
  width: 100%;
  display: none;
  background-color: #ededed;
  padding: 10px; }
  .oe_models_quick_create label {
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: normal;
    width: 100%; }
  .oe_models_quick_create #qc_model_name {
    font-size: 16px; }
  .oe_models_quick_create h2 {
    font-weight: bold; }
  .oe_models_quick_create input {
    font-size: 14px; }
  .oe_models_quick_create #qc_attribute_error, .oe_models_quick_create #qc_name_error {
    color: red; }
  .oe_models_quick_create #qc_model_name {
    width: 70%;
    padding: 3px;
    font-size: 18px; }
  .oe_models_quick_create #qc_model_price, .oe_models_quick_create #qc_model_cost {
    width: 30%;
    text-align: right; }
  .oe_models_quick_create button {
    margin-top: 10px; }

#show_quick_create {
  display: inline-block;
  margin-left: 10px; }

.discount-block {
  margin-top: 5px;
  width: 100%; }
  .discount-block label, .discount-block input {
    display: inline;
    float: left; }
  .discount-block label {
    padding-top: 10px;
    width: 25%;
    word-break: break-all; }
  .discount-block input {
    width: 70%; }
  .discount-block input:focus {
    background-color: #ededed; }
  .discount-block span {
    padding-top: 10px;
    display: block; }

.model-price-block label, .model-price-block input {
  display: inline;
  float: left; }
.model-price-block label {
  padding-top: 10px;
  width: 25%;
  word-break: break-all; }
.model-price-block input {
  width: 45%; }
.model-price-block button {
  width: 25%;
  margin-left: 5px; }

.model-cont {
  height: 100%;
  float: left;
  padding: 0; }
  .model-cont h4 {
    padding-left: 10px; }

.bar-header h4 {
  font-size: 18px;
  font-weight: bold; }

.total-measures {
  border: none;
  border-collapse: collapse; }

.total-measures td {
  padding: 5px;
  text-align: center; }

.total-measures th {
  padding: 5px;
  border-bottom: 1px solid #ededed; }

.measure-cell input {
  width: 100%;
  float: left;
  padding-left: 5px;
  margin-right: 5px;
  text-align: center; }

.measure-cell span {
  width: 100%;
  display: block;
  float: left;
  padding-left: 0px;
  text-align: center; }

.measure-cell .stock {
  background-color: #7ecfff;
  padding-top: 3px;
  padding-bottom: 3px; }

.bar-header .comment-block > label, .bar-header .comment-block > input {
  float: left; }

.comment-block {
  padding-left: 10px; }
  .comment-block label {
    width: 10%; }
  .comment-block input {
    width: 70%; }
  .comment-block input:focus {
    background-color: #ededed; }

.bar-header img, .row_delete {
  float: left; }

.openerp .oe_models {
  overflow-x: auto;
  margin-top: 25px; }

.openerp .oe_models table {
  width: 100%; }

.openerp .oe_models td {
  padding: 3px;
  text-align: right; }

.openerp .oe_models th {
  text-align: center;
  color: #069;
  font-family: 'Helvetica Neue', Arial, Verdana, 'Nimbus Sans L', sans-serif;
  /*font-size: 10px;*/
  background: #eee;
  min-width: 47px; }

.openerp .oe_models_add_row td,
.openerp .oe_models_new_row td {
  text-align: left; }

.openerp .oe_models_add_row .oe_form_field_many2one {
  display: inline-block; }

.openerp .oe_models_add_row {
  margin-bottom: 20px; }

.oe_models_add_row .o_form_field_many2one {
  float: left; }

.oe_measurebar_table .input_price {
  background-color: #ededed; }

.oe_measurebar_table .row_delete button {
  border: none;
  background-color: transparent;
  font-size: 14px; }

.oe_measurebar_table tbody > tr > td {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top; }

.oe_measurebar_table tbody > tr > th {
  margin: 0;
  padding: 0;
  text-align: center; }

.oe_measurebar_table .row_delete span {
  color: #188c75; }

.oe_measurebar_table .row_delete span:hover button {
  color: white;
  background-color: #188c75; }

.oe_models_add_row .o_form_input_dropdown {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px; }

.oe_models_add_row .ui-autocomplete-input {
  padding-left: 5px;
  font-size: 16px; }

.oe_models_add_row .oe_highlight {
  margin-left: 10px; }

.openerp td input.oe_product_cell {
  width: 20px; }

.openerp tr.oe_model_row > td.oe-input-field,
.openerp tr.oe_model_copy_row > th {
  margin: 0px;
  padding: 0px; }

.openerp tr.oe_model_row > td > input[type="text"],
.openerp tr.oe_model_copy_row > th > input[type="text"] {
  border: none;
  background-color: transparent;
  border-radius: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px 5px; }

td.row_delete {
  width: 5px; }

.openerp td button.oe_i {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  padding: 0px; }

.openerp .hatch {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAJ37979zwjjgzjKysqMYAEYB8RmROaABAAFug+bVs5NCQAAAABJRU5ErkJggg==) repeat; }

#copy_to_all {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/*# sourceMappingURL=models_widget.css.map */
