.pos .oe_measurestockview{
    max-height: 63vh;
    overflow: auto;
    margin-left:5px;
    margin-right:5px;
    font-size: 13px;

}
.icon-button  i{
    font-size:14px;
}
.icon-btn-str{
    margin-top: 1px !important;
    margin-bottom: 3px !important;
    line-height: 10px;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.control-button{
    width: 50px;
    padding: 0px 4px !important;
    padding-top:5px;
    min-width : 50px !important;
    max-width : 50px;
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: bold;
}
.control-buttons {
    margin-bottom: 0px !important;
}